In [1]:
import pandas as pd

In [2]:
sma_data=pd.read_csv("Standard_Metropolitan_Areas_Data-data.csv")

In [4]:
sma_data.sort_values(by='crime_rate',ascending=False).head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
20,9155,53.8,11.1,2280,6450,60.1,575.2,7766,4,85.62
74,1412,39.2,11.3,436,1837,49.4,154.2,2098,4,82.68
53,5966,39.5,9.6,737,1907,52.7,246.6,3007,4,80.94
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19
67,8152,22.3,9.1,405,1254,51.7,165.6,2257,4,78.10