In [1]:
import pandas as pd

In [2]:
sma_data=pd.read_csv("Standard_Metropolitan_Areas_Data-data.csv")

In [3]:
sma_data.mean()

land_area         2615.727273
percent_city        42.518182
percent_senior       9.781818
physicians        1828.333333
hospital_beds     6345.868687
graduates           54.463636
work_force         449.366667
income            6762.505051
region               2.494949
crime_rate          55.643030
dtype: float64

In [4]:
sma_data.region.unique()

array([1, 2, 4, 3])

In [5]:
sma_data.describe()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2615.727273,42.518182,9.781818,1828.333333,6345.868687,54.463636,449.366667,6762.505051,2.494949,55.643030
std,3045.826210,17.348277,2.524547,3192.199763,9136.202716,7.773286,610.990885,10393.349660,1.013921,13.470943
min,47.000000,13.400000,3.900000,140.000000,481.000000,30.300000,66.900000,769.000000,1.000000,23.320000
25%,1408.000000,30.100000,8.350000,459.000000,2390.000000,50.250000,150.300000,2003.000000,2.000000,46.115000
50%,1951.000000,39.500000,9.700000,774.000000,3472.000000,54.000000,257.200000,3510.000000,3.000000,56.060000
75%,2890.500000,52.600000,10.750000,1911.500000,6386.500000,58.300000,436.500000,6283.500000,3.000000,63.860000
max,27293.000000,100.000000,21.800000,25627.000000,69678.000000,72.800000,4083.900000,72100.000000,4.000000,85.620000

In [7]:
sample_data1=sma_data[sma_data.region==3]

In [8]:
sample_data1

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
5,2815,23.1,6.7,7340,16941,68.3,1541.9,25663,3,58.48
6,8360,46.3,8.2,4047,14347,53.6,1321.2,18350,3,72.25
7,6794,60.1,6.3,4562,14333,51.7,1272.7,18221,3,64.88
12,4326,23.6,7.3,3064,9976,50.4,867.2,12107,3,58.12
16,2045,37.2,21.4,1949,8863,50.7,543.2,7989,3,64.68
22,1967,51.1,8.8,2520,8467,45.8,460.5,7038,3,61.15
26,1392,37.2,9.8,1579,6087,46.5,396.8,5705,3,51.69
27,3358,35.1,11.3,1649,5512,44.9,359.1,4941,3,53.15
30,3214,47.7,9.4,1285,3459,40.3,401.7,4924,3,45.14
31,3491,48.5,9.7,1496,5620,59.6,362.3,4798,3,57.88
32,4080,59.6,9.9,1597,7496,47.3,380.9,4600,3,43.90
34,3199,80.6,8.7,983,4749,50.8,292.4,4127,3,61.97
40,5677,55.8,10.5,760,3883,56.2,292.0,4035,3,52.70
41,1525,55.7,8.3,751,3234,44.9,318.5,3777,3,62.09
42,2528,19.2,10.2,798,3135,55.4,274.1,3489,3,74.94
47,2115,19.9,9.1,676,2296,38.8,253.3,2962,3,58.33
49,1165,14.5,8.6,746,4277,54.4,237.1,3724,3,60.77
50,1553,50.0,8.0,2207,4931,52.0,257.2,2991,3,49.83
51,2023,22.1,21.8,752,2317,55.7,194.2,3283,3,76.35
52,2766,67.9,7.7,679,3873,56.3,224.0,2598,3,63.22
57,1057,90.7,6.1,479,2551,51.1,163.4,2012,3,58.97
60,2109,41.2,10.3,520,2539,45.2,183.1,2308,3,40.30
62,2618,31.7,6.1,836,2159,48.0,145.6,1992,3,65.05
63,1465,30.3,6.8,598,6456,50.6,164.7,2201,3,70.66
66,1489,58.8,9.5,911,5720,56.5,175.1,2264,3,70.55
68,655,75.2,6.6,425,3879,51.6,163.0,2088,3,42.92
69,2363,53.1,10.6,565,2717,49.3,146.4,1996,3,53.97
77,1526,71.7,7.7,413,1636,47.1,125.8,1692,3,66.13
78,1758,33.2,11.6,296,2652,45.3,114.4,1641,3,41.98
79,1651,64.6,8.9,774,5431,56.1,136.9,1724,3,48.88
80,1493,64.8,8.9,863,3289,53.7,154.7,1787,3,53.98
85,1697,23.8,7.2,338,1610,51.0,105.9,1354,3,70.50
90,2013,61.7,9.7,273,1484,50.9,106.7,1412,3,56.87
95,1543,39.6,8.1,159,481,30.3,80.6,769,3,36.36
96,1011,37.8,10.5,264,964,70.7,93.2,1337,3,60.16
98,654,28.8,3.9,140,1296,55.1,66.9,1148,3,68.76

In [11]:
sample_data1.shape

(36, 10)

In [12]:
sample_data1.crime_rate.mean()

58.26555555555555

In [13]:
sample_data1.describe()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.0,36.000000
mean,2485.972222,46.172222,9.283333,1313.722222,4962.777778,51.002778,343.797222,4806.861111,3.0,58.265556
std,1653.813800,19.101019,3.458199,1459.654903,3879.692625,7.328164,354.312228,5452.647656,0.0,10.155822
min,654.000000,14.500000,3.900000,140.000000,481.000000,30.300000,66.900000,769.000000,3.0,36.360000
25%,1517.000000,31.350000,7.600000,509.750000,2483.500000,46.950000,146.200000,1940.750000,3.0,52.447500
50%,2018.000000,47.000000,8.850000,767.000000,3876.000000,50.950000,230.550000,2976.500000,3.0,58.725000
75%,2911.000000,59.725000,9.975000,1583.500000,5811.750000,55.175000,366.950000,4829.500000,3.0,64.922500
max,8360.000000,90.700000,21.800000,7340.000000,16941.000000,70.700000,1541.900000,25663.000000,3.0,76.350000

In [14]:
sample_data1.info

<bound method DataFrame.info of     land_area  percent_city  percent_senior  physicians  hospital_beds  \
5        2815          23.1             6.7        7340          16941
6        8360          46.3             8.2        4047          14347
7        6794          60.1             6.3        4562          14333
12       4326          23.6             7.3        3064           9976
16       2045          37.2            21.4        1949           8863
22       1967          51.1             8.8        2520           8467
26       1392          37.2             9.8        1579           6087
27       3358          35.1            11.3        1649           5512
30       3214          47.7             9.4        1285           3459
31       3491          48.5             9.7        1496           5620
32       4080          59.6             9.9        1597           7496
34       3199          80.6             8.7         983           4749
40       5677          55.8            10.5         760           3883
41       1525          55.7             8.3         751           3234
42       2528          19.2            10.2         798           3135
47       2115          19.9             9.1         676           2296
49       1165          14.5             8.6         746           4277
50       1553          50.0             8.0        2207           4931
51       2023          22.1            21.8         752           2317
52       2766          67.9             7.7         679           3873
57       1057          90.7             6.1         479           2551
60       2109          41.2            10.3         520           2539
62       2618          31.7             6.1         836           2159
63       1465          30.3             6.8         598           6456
66       1489          58.8             9.5         911           5720
68        655          75.2             6.6         425           3879
69       2363          53.1            10.6         565           2717
77       1526          71.7             7.7         413           1636
78       1758          33.2            11.6         296           2652
79       1651          64.6             8.9         774           5431
80       1493          64.8             8.9         863           3289
85       1697          23.8             7.2         338           1610
90       2013          61.7             9.7         273           1484
95       1543          39.6             8.1         159            481
96       1011          37.8            10.5         264            964
98        654          28.8             3.9         140           1296

    graduates  work_force  income  region  crime_rate
5        68.3      1541.9   25663       3       58.48
6        53.6      1321.2   18350       3       72.25
7        51.7      1272.7   18221       3       64.88
12       50.4       867.2   12107       3       58.12
16       50.7       543.2    7989       3       64.68
22       45.8       460.5    7038       3       61.15
26       46.5       396.8    5705       3       51.69
27       44.9       359.1    4941       3       53.15
30       40.3       401.7    4924       3       45.14
31       59.6       362.3    4798       3       57.88
32       47.3       380.9    4600       3       43.90
34       50.8       292.4    4127       3       61.97
40       56.2       292.0    4035       3       52.70
41       44.9       318.5    3777       3       62.09
42       55.4       274.1    3489       3       74.94
47       38.8       253.3    2962       3       58.33
49       54.4       237.1    3724       3       60.77
50       52.0       257.2    2991       3       49.83
51       55.7       194.2    3283       3       76.35
52       56.3       224.0    2598       3       63.22
57       51.1       163.4    2012       3       58.97
60       45.2       183.1    2308       3       40.30
62       48.0       145.6    1992       3       65.05
63       50.6       164.7    2201       3       70.66
66       56.5       175.1    2264       3       70.55
68       51.6       163.0    2088       3       42.92
69       49.3       146.4    1996       3       53.97
77       47.1       125.8    1692       3       66.13
78       45.3       114.4    1641       3       41.98
79       56.1       136.9    1724       3       48.88
80       53.7       154.7    1787       3       53.98
85       51.0       105.9    1354       3       70.50
90       50.9       106.7    1412       3       56.87
95       30.3        80.6     769       3       36.36
96       70.7        93.2    1337       3       60.16
98       55.1        66.9    1148       3       68.76  >

In [15]:
sma_data.region.unique()

array([1, 2, 4, 3])

In [16]:
sma_data.region

0     1
1     2
2     1
3     2
4     4
     ..
94    4
95    3
96    3
97    1
98    3
Name: region, Length: 99, dtype: int64

In [19]:
sma_data.region.value_counts()

3    36
2    25
1    21
4    17
Name: region, dtype: int64